@page
@model ThAmCo.Events.Pages.EventList.GuestsModel

@{
    ViewData["Title"] = "Guests";
}

<h1>@Model.GuestBooking.FirstOrDefault()?.Event.EventName</h1>

<p>
    Total Guests: @Model.GuestBooking.Count
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GuestBooking[0].Attendance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GuestBooking[0].Event)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GuestBooking[0].Guest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Guest[0].GuestEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Guest[0].GuestPhone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.GuestBooking) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Attendance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Event.EventName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Guest.GuestName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Guest.GuestEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Guest.GuestPhone)
                </td>
                <td>
                    <a asp-page="./Register" asp-route-id="@item.GuestBookingId">Attended</a> |
                    <a asp-page="/GuestBookingList/Delete" asp-route-id="@item.GuestBookingId">Cancel</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-page="./Index">Back to List</a> |
    <a asp-page="/GuestBookingList/Create" asp-route-id="@Model.GuestBooking.FirstOrDefault()?.Event.EventId">Book a Guest onto this Event</a>
</div>
