@page
@model ThAmCo.Events.Pages.EventList.GuestsModel

@{
    ViewData["Title"] = "Guests";
}

<h1>@Model.GuestBooking.FirstOrDefault()?.Event.EventName</h1>

<p>
    Total Guests: @Model.GuestBooking.Count
</p>

<form method="post">
    
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Bookings[0].Attendance)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bookings[0].EventName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bookings[0].GuestName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bookings[0].GuestEmail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bookings[0].GuestPhone)
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model.Bookings) {
            <tr>
                <td>
                    @Html.CheckBoxFor(modelItem => item.Attendance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GuestName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GuestEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GuestPhone)
                </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EventId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GuestId)
                    </td>
            </tr>
    }
        </tbody>
    </table>

    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>

<div>
    <a asp-page="./Index">Back to List</a>
</div>
